/*Fonts importeren*/
@font-face {
  font-family: Felix;
  src: url(../font/Fellix-Regular.ttf);
}

@font-face {
  font-family: School;
  src: url(../font/School.ttf);
}

/*default(reset)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/*Navbar met hamburger menu*/
.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menus {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
  background: linear-gradient(6deg, rgba(21,30,52,1) 0%, rgba(76,69,149,1) 45%, rgba(121,166,255,1) 98%);
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
}

.showMenu li a{
  font-size: 40px;
}
.menuBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo{
  width: 968px;
  height: 389px;
}

.curioLogo{
  display: flex;
  justify-content: center;
}
.navBars{
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.navBars .diffs{
  margin-right: 150px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.navBars{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin: 20px;
}
/* Underline animatie*/
a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
/*Banner*/
.image{
  margin-top: -70px;
  width: 100%;
  height: 1000px;
  background: url("../img/mbo.jpg"); 
  background-repeat: no-repeat;
  display: flex;
  object-fit: cover;
  justify-content: flex-end;
  padding: 4%;

}

.image .space{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.space h3{
  font-size: 60px;
  font-family: Felix;
}

.space p{
  font-size: 35px;
  font-family: Felix;
}

/**/
/*Opendag text met tijd*/
.opendagBalk{
  margin: 0 auto;
  width: 28%;
  height: 152px;
  background-image: linear-gradient(to bottom right,#FFD5EB, #85317e);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -152px;
  margin-bottom: 50px;
}

.slices{
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: School;
}

.slices .opendag h3{
  font-size: 37px;
}
/*Vakken met grid*/
.vakken{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.vakWidget{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 200px;
  background: lightblue;
  border-radius: 25px;
  box-shadow: 5px 10px;
}
/*Vakken text in het midden*/
.vakkenText{
  text-align: center;
  color: lightblue;
  margin-bottom: 40px;
}

.center{
  text-align: center;
  font-size: 56px;
  color: antiquewhite;
  margin-bottom: -626px;
  margin-left: 526px;
  text-decoration: underline;
}
/*Blokken*/
.blokOvergang{
  background: url(../img/BlokOvergang.png);  /*Dit is de image */
  width: 676px;
  height: 820px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 20px
}

.detailOvergang{
  background: url(../img/detailOvergang.png);
  width: 716px;
  height: 423px;
  background-repeat: no-repeat;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blok {
  display: flex;
  flex-direction: column;
  margin-top: 200px
}

.blokImages{
  margin: 0 auto;
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Leraren foto's*/
.teachers{
  margin: 0 auto;
  width: 80%;
}

.teachers h1{
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
  color: antiquewhite;
  font-size: 56px;
  margin-top: 114px;
  margin-bottom: 40px;
}

.cardGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-gap: 50px;
  place-items: center;/*Plaats het 'card' in het midden van het grid*/
}
/*  Media Quary voor het menu als het niet meer past verdwijnt het en kom alles in het hamburger menu te staan*/
@media screen and (max-width: 1365px) {
  .diffs{
    display: none;
  }
}
/*  media quary voor Blokken overgang*/
@media screen and (max-width: 1590px) {
  .blokImages{
    flex-direction: column;
  }
  .center{
    margin-bottom: 0;
    margin-left: 0;
    margin: 20px;
  }
  .detailOvergang, .blokOvergang{
    border-radius: 20px;
  }
}
/* media quary's voor vakken*/
@media screen and (max-width: 1699px) {
  .vakken{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1091px) {
  .vakken{
    grid-template-columns: 1fr;
  }
}
/*Banner responsive 1054*/
@media screen and (max-width: 1620px) {
  .image {
    justify-content: flex-start !important;
  }
  .space h3{
    font-size: 45px;
    font-family: Felix;
  }
  .space p{
    font-size: 25px;
    font-family: Felix;
  }
  .image .space{
    height: 60%;
  }
}

@media screen and (max-width: 1054px) {
  .image{
    margin-top: -100px;
  }
}